@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
    scroll-behavior: smooth;
}

.nobull{
    list-style-type: none;
}

.varela{
    font-family: 'Varela Round', sans-serif;

}

.alegreya {
    font-family: 'Alegreya', serif;

}


.dim{
    filter: brightness(100%);
}

.twitter_container{
    max-width: 600px;
}

.social_container{
    margin-top: -10px;

}

.social{
    max-width: 15%;
    max-height: 50px;
    height: auto;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:10px;
}

h1{
    font-family: 'Varela Round', sans-serif;
    padding-top: 18px;

}

.img_placeholder{
    max-height: 200px;
    max-width: 200px;
    margin-top: 20px;

}

.menu_image{
    max-height: 210px;
    max-width: 210px;
    margin-top: 20px;
}

.slideshow_container{
    margin: auto;
    width: 50%;
}

.menu{
    margin-top: 10px;
}

.menu_item{
    margin-top: 5px;
}

.menu_item_name{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    color: #666666;

}

.menu_item_description{
    font-family: 'Alegreya', serif;
    font-size: 18px;
    color: #666666;
    font-style: italic;
}

.menu_heading{
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    color: #666666;

}

.contact_form{
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    width: 90%;

}

.footer_container{
    margin: auto;
}

.login_bg{
    position: fixed;
    height:100%;
    width: 100%;
    background-color: #00878c;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

.login_container{
    margin: auto;
    max-width:500px;
    width:95%
}

.new_admin{
    max-width:500px
}

.event_container{
    height: 100px;
    width: 95%;
    margin-top: 10px;
    padding:10px;
    background-color: #fffafa;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

.event_modal_bg{
    background-color: #fffafa;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");

}

.event_date{
    height:95%;
    width:65px;
    background-color: #c62625;
    color: white;
}

.event_month{
    height: 25px;
    background-color: #c62625;
    color: white;
    margin-top: -15px;
}

.event_day{
    font-size: 40px;
    margin-top: -3px;
}

.limit{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.event_button{
    margin-top:-11px;
}

.event_text{
    color: black;
}

.btn-primary.custom-btn{
    background-color: #24C5C6;
	border-color: #24C5C6;
}

.btn-primary.custom-btn:hover{
    background-color: #2464C6;
	border-color: #2464C6;
}

.logo{
    width: 10%;
    height: auto;
    margin-right: 10px;
}

.navbar-inner{
    background: transparent;
}

nav.navbar-light:hover {
    color: #c41b22; !important

}

a.nav-item:hover .nav-link {
    color: #c41b22;
}

.custom-item{
    margin: 10px;
    color: #000000;
    font-family: 'Varela Round', sans-serif;

}

.custom-item:link{
    color: #000000;
}

.custom-item:hover{
    color: #c41b22;
    text-decoration: none;
}

.admin-link{
    max-width: 300px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev,
.carousel-control-next{
      position:relative;
}

.contact_parallax{
    background-image: url("img/meat.jpg");
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

    height:600px;
}

.main_parallax{
    background-image: url("img/jiaozi.jpg");
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

    height:100vh;

}

.main_parallax_small{
    background-image: url("img/jiaozi.jpg");
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-position-x: center;

    height:75vh;

}


.event_parallax{
    background-image: url("img/egg.jpg");
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;

    height: 500px;

    margin-top:25px;

}