{% extends "layout.html" %}

{% block script %}

{% endblock %}

{% block content %}

<div class="container">

    <div class="row mt-5">

        <div class="col-lg-4">

            <div class="border rounded event_container " >

                <div class="event_date mr-2 border rounded text-center varela bold float-left">

                    <div class="event_month border-bottom">
                        NOV

                    </div>

                    <div class="event_day">
                        28

                    </div>


                </div>

                <div>
                    <b>Dominic's Birthday</b><br>
                    <p class="limit">This day is going to be totally sick</p>

                </div>

                <div>

                    <button class="btn-primary custom-btn rounded float-right event_button"
                            data-toggle="modal" data-target="#exampleModalCenter">
                        Read More
                    </button>

                </div>

            </div>

        </div>

        <div class="col-lg-4">

            <div class="border rounded event_container" >

                <div class="event_date mr-2 border rounded text-center varela bold float-left">

                    <div class="event_month border-bottom">
                        NOV

                    </div>

                    <div class="event_day ">
                        28

                    </div>


                </div>

                <div class="event_text">
                    <b>Dominic's Birthday</b><br>
                    <p class="limit">This day is going to be totally sick</p>

                </div>

                <div>

                    <button class="btn-danger rounded float-right event_button">Read More</button>

                </div>

            </div>

        </div>

        <div class="col-lg-4">

            <div class="border rounded event_container" >

                <div class="event_date mr-2 border rounded text-center varela bold float-left">

                    <div class="event_month border-bottom">
                        NOV

                    </div>

                    <div class="event_day ">
                        28

                    </div>


                </div>

                <div>
                    <b>Dominic's Birthday</b><br>
                    <p class="limit">This day is going to be totally sick</p>

                </div>

                <div>

                    <button class="btn-primary rounded float-right event_button">Read More</button>

                </div>

            </div>

        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}