{% extends "layout.html" %}

{%block script%}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

{%endblock%}

{% set active_page = "event" %}

{% include "admin_template.html" %}

{% block content %}

    <!-- New Event -->
    <div class="container">

        <form action="" method="POST">
            {{ event_form.hidden_tag() }}

            <fieldset class="form-group">

            <legend class="border-bottom mb-4">Add New Event</legend>

                <div class="form-group">
                    {{ event_form.name.label(class="form-control-label") }}
                    {{ event_form.name(class="form-control form-control-md") }}
                </div>

                <div class="form-group">
                    {{ event_form.location.label(class="form-control-label") }}
                    <small> (Use full address in order to link to google maps) </small>
                    {{ event_form.location(class="form-control form-control-md") }}
                </div>

                <div class="row">

                    <div class="form-group col-md-4">
                        {{ event_form.date.label(class="form-control-label") }}
                        {{ event_form.date(class="form-control form-control-md", id="datepicker") }}
                    </div>

                    <div class="form-group col-md-4">
                        {{ event_form.start_time.label(class="form-control-label") }}
                        {{ event_form.start_time(class="form-control form-control-md", placeholder="1:23 PM") }}
                    </div>

                    <div class="form-group col-md-4">
                        {{ event_form.end_time.label(class="form-control-label") }}
                        {{ event_form.end_time(class="form-control form-control-md", placeholder="3:21 PM") }}
                    </div>

                </div>

                <div class="form-group">
                    {{ event_form.description.label(class="form-control-label") }}
                    {{ event_form.description(class="form-control form-control-md") }}
                </div>

            </fieldset>

            <div class="form_group">
                {{ event_form.submit(class="btn btn-secondary") }}
            </div>

        </form>

    </div>

    <!-- DISPLAY EVENTS -->
    <div class="container pb-5">

        <div class="row">

        {% for event_item in event_items %}

            <div class="col-md-4">

            <div class="rounded event_container border rounded" >

                <div class="event_date mr-2 border rounded text-center bold float-left">

                    <div class="event_day">
                        {{ event_item.date.strftime('%d') }}

                    </div>

                    <div class="event_month">
                        {{ event_item.date.strftime('%b')}}

                    </div>

                </div>

                <div class="limit">
                    <b> {{ event_item.name }} </b><br>
                    <p class="limit">{{ event_item.description }}</p>

                </div>

                <div>

                    <button class="btn-primary custom-btn rounded float-right event_button"
                            data-toggle="modal" data-target="#modal{{event_item.id}}">
                        More Info
                    </button>

                </div>

            </div>

            <a href="{{ url_for('delete_item', item_id=event_item.id, table='EventItem', location='new_event') }}">Delete</a>

        </div>



            <div class="modal fade" id="modal{{event_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <div class="modal-header event_modal_bg">
                        <h5 class="modal-title" id="exampleModalLabel">{{event_item.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="container">
                            <i class="far fa-clock mr-2"></i> {{ event_item.start_time }} -  {{ event_item.end_time }} <br>
                            <i class="far fa-calendar-alt mr-2"></i> {{ event_item.date.strftime('%m/%d/%Y') }} <br>
                            <i class="fas fa-map-marker-alt mr-2"></i> <a target="_blank" href="https://maps.google.com/?q={{event_item.location}}"> {{event_item.location}}</a> <br>
                            <br>
                            {{ event_item.description }}
                        </div>

                    </div>

                    <div class="modal-footer event_modal_bg">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>

        </div>
        {% endfor %}

</div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $('#datepicker').datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
        $('#datepicker').datepicker("setDate", new Date());

    </script>

{% endblock content %}