{% extends "layout.html" %}

{% block script %}

<script>

    $(function(){
        var navMain = $("#navbarNavAltMarkup");
        navMain.on("click", "a", null, function () {
            navMain.collapse('hide');
        });
    });

</script>

{% endblock %}

{% block content %}


<!-- NAVIGATION BAR -->
<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand varela " href="#">sian<small class="text-muted">STREETFOOD</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#menu">Menu</a>
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#events">Events</a>
                <a class="nav-item nav-link" href="#">Catering</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>



<!-- TOP IMAGE -->
<div class="main_img">
    <img class="img-fluid w-100  mb-3 dim" src="static/img/jiaozi.jpg" >
</div>


<div class="container">

    <!-- SOCIAL MEDIA BUTTONS AND TWITTER-->
    <div class="row">
        <div class="col-md">
            <center>
                <div class="social_container">
                    <a href="#" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-facebook-square"></i>
                        </span>
                    </a>
                    <a href="#" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                    <a href="#" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-snapchat-ghost"></i>
                        </span>
                    </a>
                    <a href="#" class="btn text-dark">
                        <span style="font-size:45px;">
                        <i class="fab fa-twitter"></i>
                            </span>
                    </a>

                </div>
            </center>
        </div>


        <div class="col-md">
            <div class="border rounded pb-2 pr-2 pl-2 pt-1 border-info twitter_container">
                <span class="alegreya"><a href="https://twitter.com/{{tweet_user}}" target="_blank">
                    <img height="2.5%" width="2.5%" class="mini_twitter" src="static/img/twitter.png"></a>
                    <b>{{tweet_handle}}</b>: "{{tweet_text}}" ({{tweet_time}})
                     </span>
            </div>
        </div>
    <a name="menu"></a>
    </div>



    <center>
        <!-- MENU IMAGES -->
        <div class="row">

            <div class="col-sm  d-none d-sm-block">
                <img class="menu_image" src="{{image1}}">
            </div>
            <div class="col-sm  d-none d-sm-block">
                <img class="menu_image" src="{{image2}}">
            </div>
            <div class="col-sm  d-none d-sm-block">
                <img class="menu_image" src="{{image3}}">
            </div>
            <div class="col-sm  d-none d-sm-block d-md-none d-lg-block">
                <img class="menu_image" src="{{image4}}">
            </div>

        <!-- MENU IMAGE SLIDESHOW -->


            <div class="d-block d-sm-none slideshow_container">
                <div id="demo" class="carousel slide " data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{image1}}" class="menu_image">
                        </div>
                        <div class="carousel-item">
                            <img src="{{image2}}" class="menu_image">
                        </div>
                        <div class="carousel-item">
                            <img src="{{image3}}" class="menu_image">
                        </div>
                        <div class="carousel-item">
                            <img src="{{image4}}" class="menu_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>


    <h1>Menu</h1>

    {% for item in items %}

        {% if item.head == True %}

            {% if loop.index > 1 %}
                </div>
            {% endif %}

            <div>
                <div class="menu_heading">
                    {{ item.name }}

                    <small class="menu_item_name" >
                        {{item.description}}
                    </small>

                </div>
            </div>
            <div class="row">
        {% else %}

            <div class="col-lg-4 col-md-6">
                <div class="menu_item_name">

                    {{ item.name }}

                    {% if item.spice %}
                        <small><i class="fas fa-pepper-hot text-danger"></i></small>
                    {%endif%}

                    {% if item.vegetarian %}
                        <small><i class="fas fa-leaf text-success"></i></small>
                    {%endif%}

                </div>

                <div class="menu_item_description mb-3">
                    {{ item.description }}
                </div>
            </div>


        {% endif %}

    {% endfor %}

<a name="about"></a>
            </div>

    <h1>About Us</h1>

    <div class="row mt-2">
        <div class="col-md-6">
            <img class="img-fluid" src="static/img/monique.jpg">
        </div>
        <div class="col-md-6">
            <p>
                Bacon ipsum dolor amet sirloin drumstick turkey, filet mignon ham pork chop frankfurter ribeye sausage burgdoggen leberkas cow bresaola. Salami ham hock meatloaf tri-tip pork loin corned beef buffalo drumstick shoulder cupim fatback ham tenderloin bacon pancetta. Tenderloin frankfurter ground round, ribeye alcatra leberkas boudin short ribs. Biltong spare ribs filet mignon prosciutto pork loin beef ribs drumstick chicken doner chuck porchetta tenderloin cow. Buffalo sirloin pig, tongue ball tip capicola ham short loin. Cupim sausage burgdoggen sirloin pork belly rump, short loin meatloaf biltong t-bone bacon pork loin kielbasa.
                Meatball andouille frankfurter, cupim jerky pork loin ribeye bresaola alcatra capicola ham hock shank boudin pastrami pancetta. Kevin meatloaf venison tenderloin, turducken jerky corned beef landjaeger sausage chuck pancetta. Kevin bresaola kielbasa, spare ribs meatloaf chuck picanha pork loin. Shoulder pancetta ham short loin cow tenderloin leberkas picanha drumstick tri-tip porchetta doner bacon pork belly sausage. Tongue hamburger landjaeger doner jerky, pancetta turducken bresaola filet mignon brisket andouille ham sausage prosciutto. Landjaeger pork loin hamburger, brisket turducken ham hock spare ribs ribeye filet mignon picanha doner tail pancetta buffalo.
            </p>

        </div>

    </div>

    <!-- this row is necessary for proper landing space when contact link is clicked -->
    <div class="row">
        <a name="contact"></a>
    </div>

</div>

<div class="container-fluid mt-5">
    <div class="row contact_form_container mt-4 text-white pb-4">

        <form class="contact_form" action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend><h1>Contact Us</h1></legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}:
                        {{ form.name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}:
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.subject.label(class="form-control-label") }}:
                        {{ form.subject(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.message.label(class="form-control-label") }}:
                        {{ form.message(class="form-control form-control-lg") }}
                    </div>


            </fieldset>
            <div class="form_group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

<div class="container-fluid w-100 bg-dark my_footer text-light  p-3 border-top border-success">

    <div class="container ">
        <center>


            <h1>sian<small class="text-muted">STREETFOOD</small></h1>

                <a class="btn text-success" href="#">Menu</a>
                <a class="btn text-success" href="#">About</a>
                <a class="btn text-success" href="#">Events</a>
                <a class="btn text-success" href="#">Catering</a>
                <a class="btn text-success" href="#">Contact</a>
                <br>
                <a href="#" class="btn text-light">
                    <span style="font-size:25px;">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                </a>
                <a href="#" class="btn text-light">
                    <span style="font-size:25px;">
                        <i class="fab fa-instagram"></i>
                    </span>
                </a>
                <a href="#" class="btn text-light">
                    <span style="font-size:25px;">
                        <i class="fab fa-snapchat-ghost"></i>
                    </span>
                </a>
                <a href="#" class="btn text-light">
                    <span style="font-size:25px;">
                    <i class="fab fa-twitter"></i>
                        </span>
                </a>
                <br>
                <br>
                <small class="text-muted">
                    Designed by <a class="text-success" href="www.domdit.com">Dominic DiTaranto</a> | <i class="far fa-copyright"></i> Copyright {{year}}
                </small>
        </center>
    </div>

</div>

{% endblock content %}
