{% set active_page = "index" %}

{% extends "layout.html" %}

{% block script %}


<script>

    var imageFit = function() {
        windowHeight = $(window).height();
        $('.main_parallax').css('min-height', windowHeight).refresh();
    };

    $(document).ready(function() {
        $('.carousel').carousel('pause');
    });

    $(function(){
        var navMain = $("#navbarNavAltMarkup");
        navMain.on("click", "a", null, function () {
            navMain.collapse('hide');
        });
    });

    $( window ).scroll(function() {
        if($(window).scrollTop() > 100){
            $('.logo').css({'width': '10%'});
        }else{
            $('.logo').css({'max-width': '50px'});
        }
    });
</script>



{% endblock %}

{% block content %}

{% include 'navbar_template.html' %}



<!-- TOP IMAGE -->
<div class="main_img main_parallax d-none d-md-block mb-3"></div>
<div class="main_img main_parallax_small d-md-none mb-3"></div>


<div class="container">

    <!-- SOCIAL MEDIA BUTTONS AND TWITTER-->
    <div class="row">
        <div class="col-md">
            <center>
                <div class="social_container">
                    <a href="https://www.facebook.com/sianstreetfood/" target="_blank" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-facebook-square"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/sianstreetfood/" target="_blank" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                    <a href="#" target="_blank" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-snapchat-ghost"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/sianstreetfood" target="_blank" class="btn text-dark">
                        <span style="font-size:45px;">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>

                </div>
            </center>
        </div>


        <div class="col-md">
            <div class=" pb-2 pr-2 pl-2 pt-1 border-info twitter_container">
                <span class="alegreya"><a href="https://twitter.com/{{tweet_user}}" target="_blank">
                    <img height="2.5%" width="2.5%" class="mini_twitter" src="static/img/twitter.png"></a>
                    <b>{{tweet_handle}}</b>: "{{tweet_text}}" ({{tweet_time}})
                     </span>
            </div>
        </div>
    <a name="menu"></a>
    </div>



    <center>
        <!-- MENU IMAGES -->
        <div class="row">

            <div class="col-sm  d-none d-sm-block">
                <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                    <img src="{{image1}}" class="menu_image">
                </a>
            </div>

            <div class="col-sm  d-none d-sm-block">
                <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                    <img src="{{image2}}" class="menu_image">
                </a>
            </div>

            <div class="col-sm  d-none d-sm-block">
                <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                    <img src="{{image3}}" class="menu_image">
                </a>
            </div>

            <div class="col-sm  d-none d-sm-block d-md-none d-lg-block">
                <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                    <img src="{{image4}}" class="menu_image">
                </a>
            </div>

        <!-- MENU IMAGE SLIDESHOW -->


            <div class="d-block d-sm-none slideshow_container">
                <div id="demo" class="carousel slide " data-ride="carousel">

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                                <img src="{{image1}}" class="menu_image">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                                <img src="{{image2}}" class="menu_image">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                                <img src="{{image3}}" class="menu_image">
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.instagram.com/sianstreetfood/" target="_blank">
                                <img src="{{image4}}" class="menu_image">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </center>


    <h1>Menu</h1>

    {% for item in items %}

        {% if item.head == True %}

            {% if loop.index > 1 %}
                </div>
            {% endif %}

            <div>
                <div class="menu_heading">
                    {{ item.name }}

                    <small class="menu_item_name" >
                        {{item.description}}
                    </small>

                </div>
            </div>

            <div class="row">
        {% else %}

            <div class="col-lg-4 col-md-6">
                <div class="menu_item_name">

                    {{ item.name }}

                    {% if item.spice %}
                        <small><i class="fas fa-pepper-hot text-danger"></i></small>
                    {%endif%}

                    {% if item.vegetarian %}
                        <small><i class="fas fa-leaf text-success"></i></small>
                    {%endif%}

                </div>

                <div class="menu_item_description mb-3">
                    {{ item.description }}
                </div>
            </div>


        {% endif %}

    {% endfor %}

    <a name="about"></a>
                </div>

        <h1>About Us</h1>

        <div class="row mt-2">
            <div class="col-md-6">
                <img class="img-fluid mb-2" src="static/img/monique.jpg">
            </div>
            <div class="col-md-6 alegreya align-self-center" style="font-size:20px;">

                <p>
                    {{ about.text }}
                </p>

            </div>

        </div>

</div>

<div class="event_parallax">

    <div class="container pb-5">

        <a name="events" >
            <h1 class="text-white mb-4 d-none d-md-block">Upcoming Events</h1>
            <h1 class="text-white d-md-none">Upcoming Events</h1>

        </a>

        <div id="eventCarousel" class="carousel slide">

            <div class="carousel-inner">

            {% for event_row in event_items | batch(3) %}

                <div class="mt-4 item carousel-item {% if loop.index == 1 %} active {% endif %}">

                    <div class="row mt-2">

                        {% for event_item in event_row %}

                            <div class="col-lg-4">

                                <div class="rounded event_container border rounded" >

                                    <div class="event_date mr-2 border rounded text-center bold float-left">

                                        <div class="event_day">
                                            {{ event_item.date.strftime('%d') }}

                                        </div>

                                        <div class="event_month">
                                            {{ event_item.date.strftime('%b')}}

                                        </div>

                                    </div>

                                    <div class="limit">
                                        <b> {{ event_item.name }} </b><br>
                                        <p class="limit">{{ event_item.description }}</p>

                                    </div>

                                    <div>

                                        <button class="btn-primary custom-btn rounded float-right event_button"
                                                data-toggle="modal" data-target="#modal{{event_item.id}}">
                                            More Info
                                        </button>

                                    </div>

                                </div>


                            </div>


                            <div class="modal fade" id="modal{{event_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog" role="document">

                                    <div class="modal-content">

                                        <div class="modal-header event_modal_bg">
                                            <h5 class="modal-title" id="exampleModalLabel">{{event_item.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">

                                            <div class="container">
                                                <i class="far fa-clock mr-2"></i> {{ event_item.start_time }} -  {{ event_item.end_time }} <br>
                                                <i class="far fa-calendar-alt mr-2"></i> {{ event_item.date.strftime('%m/%d/%Y') }} <br>
                                                <i class="fas fa-map-marker-alt mr-2"></i> <a target="_blank" href="https://maps.google.com/?q={{event_item.location}}"> {{event_item.location}}</a> <br>
                                                <br>
                                                {{ event_item.description }}
                                            </div>

                                        </div>

                                        <div class="modal-footer event_modal_bg">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                                {% else%}

                                    <center>
                                        <h3 class="text-white mt-5 ml-4">
                                            Act fast, our schedule is open. <a href="#contact">Contact</a> us to plan your next get together!
                                        </h3>
                                    </center>


                        {% endfor %}



                    </div>
                </div>

            {% endfor %}

            </div>

            <a class="carousel-control-prev float-left mt-2" href="#eventCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon "></span>
            </a>

                <!-- Needs to be here -->
                <a name="cater"></a>

            <a class="carousel-control-next float-right mt-2" href="#eventCarousel" data-slide="next">
                <span class="carousel-control-next-icon "></span>
            </a>


        </div>

    </div>

</div>

<div class="container">

    <h1>Catering Menu</h1>

    {% for item in cater_items %}

        {% if item.head == True %}

            {% if loop.index > 1 %}
                </div>
            {% endif %}

            <div>
                <div class="menu_heading">
                    {{ item.name }}

                    {% if item.whole %}
                        <div class="float-right">
                            <small>{{item.whole}}/{{item.half}}</small>
                        </div>
                    {%endif%}

                    <small class="menu_item_name" >
                        {{item.description}}
                    </small>

                </div>
            </div>

            <div class="row">
        {% else %}

            <div class="col-lg-4 col-md-6">
                <div class="menu_item_name">

                    {{ item.name }}

                    {% if item.whole %}
                        <div class="float-right">
                            {{item.whole}}/{{item.half}}
                        </div>
                    {%endif%}

                    {% if item.spice %}
                        <small><i class="fas fa-pepper-hot text-danger"></i></small>
                    {%endif%}

                    {% if item.vegetarian %}
                        <small><i class="fas fa-leaf text-success"></i></small>
                    {%endif%}

                </div>

                <div class="menu_item_description mb-3">
                    {{ item.description }}
                </div>
            </div>


        {% endif %}

    {% endfor %}
            </div>


        <!-- this row is necessary for proper landing space when contact link is clicked -->
        <div class="row">
            <a name="contact"></a>
        </div>

    </div>

<div class="container-fluid mt-5">
    <div class="row contact_parallax mt-4 text-white pb-4">

        <form class="contact_form" action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend><h1>Contact Us</h1></legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}:
                        {{ form.name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}:
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.subject.label(class="form-control-label") }}:
                        {{ form.subject(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.message.label(class="form-control-label") }}:
                        {{ form.message(class="form-control form-control-lg") }}
                    </div>


            </fieldset>
            <div class="form_group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</div>

<div class="container-fluid w-100 bg-white my_footer footer_container text-dark  p-3 border-top border-danger">

    <div class="container ">
        <center>


        <p class="mrdafoe lead" style="font-size:55px; color:#c62625;" href="#">sianstreetfood</p>

                <a class="nav-item custom-item" href="#menu">Menu</a>
                <a class="nav-item custom-item" href="#about">About</a>
                <a class="nav-item custom-item" href="#events">Events</a>
                <a class="nav-item custom-item" href="#cater">Catering</a>
                <a class="nav-item custom-item" href="{{url_for('booking')}}">Book Us</a>
                <a class="nav-item custom-item" href="#contact">Contact</a>
                <br><br>
                <a href="https://www.facebook.com/sianstreetfood/" class="btn text-dark">
                    <span style="font-size:25px;">
                        <i class="fab fa-facebook-square"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/sianstreetfood/" class="btn text-dark">
                    <span style="font-size:25px;">
                        <i class="fab fa-instagram"></i>
                    </span>
                </a>
                <a href="#" class="btn text-dark">
                    <span style="font-size:25px;">
                        <i class="fab fa-snapchat-ghost"></i>
                    </span>
                </a>
                <a href="https://twitter.com/sianstreetfood" class="btn text-dark">
                    <span style="font-size:25px;">
                    <i class="fab fa-twitter"></i>
                        </span>
                </a>
                <br>
                <br>
                <small class="text-muted">
                    Designed by <a class="text-danger" href="http://www.domdit.com">Dominic DiTaranto</a> | <i class="far fa-copyright"></i> Copyright {{year}}
                </small>
        </center>
    </div>

</div>

{% endblock content %}
