{% extends "layout.html" %}
{%block script%}

    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
        $( document ).ready(function() {
             console.log( "ready!" );
        });

        $(function() {
            $( "#sortable" ).sortable({
                update: function(event, ui) {
                    var postData = $(this).sortable('serialize');



                }
            });
        });

        function postSave() {

            var list = [];

            $('.kore').each(function (index) {
                list.push(this.id);
            });

            console.log(list)

            fetch(`${window.origin}/post`, {
                method: 'POST',
                credentials: "include",
                body: JSON.stringify(list),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {

                if (response.status !== 200) {
                    console.log(`RESPONSE STATUS WAS NOT 200: ${response.status}`);
                    return;
                }

                response.json().then( function (list) {
                console.log(list)
                });
            })
            .catch(function(error) {
                console.log("Fetch error: " + error);

            });

        };

    </script>

{%endblock%}

{% block content %}
    <body>
        <div class="container">
            <h1>Sian Street Food - Admin Page</h1>

            <!-- FORM -->
            <div class="container">
                <form action="" method="POST">
                    {{ menu_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Add New Item</legend>
                            <div class="form-group">
                                {{ menu_form.name.label(class="form-control-label") }}
                                {{ menu_form.name(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group">
                                {{ menu_form.description.label(class="form-control-label") }}
                                {{ menu_form.description(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-check">
                                {{ menu_form.head(class="form-check-input") }}
                                {{ menu_form.head.label(class="form-check-label") }}
                                <small>(Description will appear to the right of the heading)</small>
                            </div>
                            <div class="form-check">
                                {{ menu_form.spice(class="form-check-input") }}
                                {{ menu_form.spice.label(class="form-check-label") }}
                                <i class="fas fa-pepper-hot text-danger"></i>
                            </div>
                            <div class="form-check">
                                {{ menu_form.veg(class="form-check-input") }}
                                {{ menu_form.veg.label(class="form-check-label") }}
                                <i class="fas fa-leaf text-success"></i>
                            </div>

                    </fieldset>
                    <div class="form_group">
                        {{ menu_form.submit(class="btn btn-secondary") }}
                    </div>
                </form>
            </div>

            <!-- MENU ITEMS -->

            <div class="container menu">
                <ul id="sortable">
                    {% for item in items %}

                    <li class="nobull kore" id="{{ item.id }}">
                        <div class="menu_item">
                            {% if item.head == True %}
                            <div>
                                <div class="menu_heading">
                                    {{ item.name }}

                                    <small class="menu_item_name" >
                                        {{item.description}}
                                    </small>

                                </div>
                                <a href="{{ url_for('delete_item', item_id=item.id) }}">Delete</a>

                            </div>
                    {% else %}
                        <div class="col">
                            <div class="menu_item_name">
                                {{ item.name }}
                                {% if item.spice %}
                                    <small><i class="fas fa-pepper-hot text-danger"></i></small>
                                {%endif%}
                                {% if item.vegetarian %}
                                    <small><i class="fas fa-leaf text-success"></i></small>
                                {%endif%}

                            </div>

                            <div class="menu_item_description">
                                {{ item.description }}
                            </div>

                            <a href="{{ url_for('delete_item', item_id=item.id) }}">Delete</a>

                        </div>

                    {% endif %}

                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <button class="btn btn-outline-info" onclick="postSave()">Save & Post Menu</button><br>
            </div>


        </div>


    </body>
{% endblock content %}